* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Brawler', serif;
    background-color: #FAF6F0;
    text-align: center;
  
    h1 {
      font-size: 35px;
      color: #B0A695;
    }
  
    h2 {
      font-size: 25px;
    }
  
    h3 {
      font-size: 18px;
      color: #776B5D;
    }
  
    a {
      text-decoration: underline;
      color: #776B5D;
  
    }
  
    hr {
      border: 2px solid #776B5D;
      width: 90%;
      margin: 0 auto;
    }
  }
  
  /* HEADER */
  nav.navheader {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.3fr;
    grid-template-areas:
      "primerlogo"
      "ul-left"
      "ul-right";
  
    .primerlogo {
      display: flex;
      align-items: flex-start;
    }
  
    .ul-left {
      display: flex;
      justify-content: flex-start;
      padding: 20px;
      list-style: none;
      align-items: flex-start;
      width: 250px;
      padding: 0.5px 20px;
      grid-area: ul-left;
  
      .list-item {
        margin: 0;
      }
    }
  
    .ul-right {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 12px;
      list-style: none;
      padding: 10px 5px;
      grid-area: ul-right;
  
    }
  
    .primerlogo {
      display: flex;
      align-items: flex-start;
      padding: 0.5px 5px;
      border: none;
      grid-area: primerlogo;
    }
  }